<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>PortFolio</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- 폰트? -->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- 구글 폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link rel="stylesheet" href="/main.css">
        <script src="/script.js"></script>
    </head>
    <body id="page-top" style="background-color: black;">
        <!-- 상단 네비게이션 바 -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">PortFolio</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead -->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">PortFolio</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">DongHwi's PortFolio よく見てくれよ～</h2>
                        <a class="btn btn-primary" href="#about">Let's Go</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">안녕하세요! 저는 이동휘입니다.</h2>
                        <p class="text-white-50">
                            "안녕하세요! 다양한 기술 스택을 다루며 프론트엔드부터 백엔드까지 전반적인 개발을 배우고 있는 풀스택 개발자 지망생입니다. 창의적인 문제 해결과 협업을 통해 사용자에게 가치를 전달하는 개발자가 되는 것이 목표입니다."
                        </p>
                    </div>
                </div>
                <div class="img-box web mb-3">
                    <p class="fs-5 text-white fw-bold mb-3">Web</p>
                    <img src="assets/img/icon/html-icon.png" alt="" class="me-3">
                    <img src="assets/img/icon/css-icon.png" alt="" class="me-3">
                    <img src="assets/img/icon/js-icon.png" alt="" class="me-3">
                    <img style="width: 100px; height: 70px;" src="assets/img/icon/node-icon.png" alt="">
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <div class="img-box me-5">
                        <p class="fs-5 text-white fw-bold mb-3">Progrming</p>
                        <img src="assets/img/icon/python-icon.png" alt="" class="me-3">
                    </div>
    
                    <div class="img-box">
                        <p class="fs-5 text-white fw-bold mb-3">Utility & DataBase</p>
                        <img src="assets/img/icon/git-icon.png" alt="" class="me-3">
                        <img src="assets/img/icon/postgres-icon.png" alt="" class="me-3">
                        <img src="assets/img/icon/mongodb-icon.png" alt="">
                    </div>
                </div>

                
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg/bg-masthead.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Gradation</h4>
                            <p class="text-gray-50 mb-0">따뜻한 색감과 부드러운 곡선이 조화를 이루어 보이듯 사람 대 사람으로써 조화가 제일 중요하다고 생각합니다.</p>
                        </div>
                    </div>
                </div>

                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/bg/teamwork-image.png" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-ED4672 text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-black">TeamWork</h4>
                                    <p class="mb-0 text-gray-50">"저는 개발자로서 효율적인 협업을 통해 팀의 목표를 명확히 설정하고, 함께 문제를 해결하는 데 집중합니다. 또한, 원활한 의사소통을 통해 코드 리뷰와 피드백을 적극적으로 공유하여 프로젝트의 성공에 기여하고자 합니다."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/bg/creativity-image.png" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-FF7C15 text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-black">Creativity & adaptability</h4>
                                    <p class="mb-0 text-gray-50">“저는 개발자로서 창의성을 통해 혁신적인 문제 해결 방안을 제시하고, 유연성을 바탕으로 빠르게 변화하는 기술 환경과 프로젝트 요구 사항에 효과적으로 대응합니다. 이를 통해 최상의 사용자 경험과 팀워크를 구현하고 있습니다.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
        
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top border-bottom" width="100%" height="225" src="assets/img/project/opgg-image.png" alt="">
                            
                            <div class="card-body">
                                <p class="fs-6">OP.GG</p>
                                <p class="card-text text-wrap">League of Legends의 게임 전적을 불러와 상세한 정보를 시각화해서 사용자에게 표시</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://ldhpop123.github.io/op.gg_project/" target="_blank">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </a>
                                        <a href="https://github.com/ldhpop123/op.gg_project" target="_blank">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                        </a>
                                    </div>
                                    <small class="text-muted">24 / 09</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top border-bottom" width="100%" height="225" src="assets/img/project/nodebird-image.png" alt="">

                            <div class="card-body">
                                <p class="fs-6">NodeBird</p>
                                <p class="card-text text-wrap">Node.js와 PostgreSQL를 사용하여 SNS 서비스 만들기 ( 카카오 멀티 로그인 구현 )</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="http://3.38.193.69:8002/" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </a>
                                            <a href="https://github.com/ldhpop123/nodebird" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                            </a>
                                        </div>
                                    <small class="text-muted">24 / 09</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top border-bottom" width="100%" height="225" src="assets/img/project/nodebird-image.png" alt="">
            
                            <div class="card-body">
                                <p class="fs-6">NodeBird-API</p>
                                <p class="card-text">NodeBird의 Node.js를 사용하여 API 서버 만들어보기 ( 개발중 )</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="http://3.38.193.69:8002/" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </a>
                                            <a href="https://github.com/ldhpop123/nodebird-api" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                            </a>
                                        </div>
                                    <small class="text-muted">24 / 09</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top border-bottom" width="100%" height="225" src="assets/img/project/openweather-image.png" alt="">
                            
                            <div class="card-body">
                                <p class="fs-6">OpenWeather</p>
                                <p class="card-text">OpenWeather-API를 사용하여 수도별 현재 날씨 정보를 불러오는 프로젝트</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/weather" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </a>
                                            <a href="https://github.com/ldhpop123/nodebird" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                            </a>
                                        </div>
                                    <small class="text-muted">24 / 06</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top border-bottom" width="100%" height="225" src="assets/img/project/music-image.png" alt="">
                            
                            <div class="card-body">
                                <p class="fs-6">Melon</p>
                                <p class="card-text">CSS의 Grid구조를 사용하여 음원차트 사이트 만들어보기</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/music" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </a>
                                            <a href="https://github.com/ldhpop123/jongno-coding-study-2024/blob/main/2024%EB%85%84%206%EC%9B%94/%EC%88%98%ED%96%89%ED%8F%89%EA%B0%80%20grid2.html" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                            </a>
                                        </div>
                                    <small class="text-muted">24 / 06</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top border-bottom" width="100%" height="225" src="assets/img/project/todo-image.png" alt="">
                            
                            <div class="card-body">
                                <p class="fs-6">ToDo-list</p>
                                <p class="card-text">Material Icons를 가져와 icon을 사용하여 ToDo-list 만들어보기</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/todo" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </a>
                                            <a href="https://github.com/ldhpop123/jongno-coding-study-2024/blob/main/2024%EB%85%84%205%EC%9B%94/todo_list.html" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                            </a>
                                        </div>
                                    <small class="text-muted">24 / 05</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        <!-- Contact-->
        <section class="contact-section bg-black" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">235, World Cup buk-ro, Mapo-gu</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">dab060719@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">010-7711-9422</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://github.com/ldhpop123" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50">
            <div class="container px-4 px-lg-5">Copyright &copy; 종로산업정보학교 AIcomputer Department 이동휘 All rights reserved.</div>
            <div class="container px-4 px-lg-5">본 사이트는 상업적 목적이 아닌 개인 포트폴리오로 제작되었습니다.</div>
            <div class="container px-4 px-lg-5">source : <a href="https://startbootstrap.com/theme/grayscale" target="_blank">startbootstrap</a>,  <a href="https://pinterest.com" target="_blank">pinterest</a></div>
        </footer>
    </body>
</html>